# LIMPEZA E TRATAMENTO DOS DADOS

In [1]:
import numpy as np
import pandas as pd
arquivo = pd.read_csv("C:/Users/davi-/OneDrive/Documentos/Arquivos/Users/Materiais_Assuntos/Ciência de dados/projeto ciência de dados/def_area_2004_20191.csv")
arquivo.rename(columns={'1':'ANO_ESTADO','1.1':'AC','1.2':'AM','1.3':'AP','1.4':'MA','1.5':'MT','1.6':'PA','1.7':'RO','1.8':'RR','1.9':'TO','1.10':'AMZ_LEGAL'},inplace=True)
conc = pd.DataFrame(arquivo)
#Função
def Medidas_Centralidade_Dispersao(coluna):
        print("Área de desmatamento (km²) por ano e estado, de 2004 a 2019, para a coluna :",coluna)
        print("Média : ", arquivo[coluna].mean())
        print("Mediana : ",arquivo[coluna].median())
        print("Desvio Padrão : ",arquivo[coluna].std())
        print("Variância : ",arquivo[coluna].var())
        print("Moda :\n",arquivo[coluna].mode())
        conc.boxplot(column=coluna)

In [3]:
arquivo

    ANO_ESTADO   AC    AM   AP    MA     MT    PA    RO   RR   TO  AMZ_LEGAL
0         2004  728  1232   46   755  11814  8870  3858  311  158      27772
1         2005  592   775   33   922   7145  5899  3244  133  271      19014
2         2006  398   788   30   674   4333  5659  2049  231  124      14286
3         2007  184   610   39   631   2678  5526  1611  309   63      11651
4         2008  254   604  100  1271   3258  5607  1136  574  107      12911
5         2009  167   405   70   828   1049  4281   482  121   61       7464
6         2010  259   595   53   712    871  3770   435  256   49       7000
7         2011  280   502   66   396   1120  3008   865  141   40       6418
8         2012  305   523   27   269    757  1741   773  124   52       4571
9         2013  221   583   23   403   1139  2346   932  170   74       5891
10        2014  309   500   31   257   1075  1887   684  219   50       5012
11        2015  264   712   25   209   1601  2153  1030  156   57       6207
12        2016  372  1129   17   258   1489  2992  1376  202   58       7893
13        2017  257  1001   24   265   1561  2433  1243  132   31       6947
14        2018  444  1045   24   253   1490  2744  1316  195   25       7536
15        2019  688  1421    8   215   1685  3862  1245  617   21       9762

In [30]:
arquivo["ANO_ESTADO"] = pd.to_datetime(arquivo["ANO_ESTADO"],format='%Y')

In [32]:
arquivo

   ANO_ESTADO   AC    AM   AP    MA     MT    PA    RO   RR   TO  AMZ_LEGAL
0  2004-01-01  728  1232   46   755  11814  8870  3858  311  158      27772
1  2005-01-01  592   775   33   922   7145  5899  3244  133  271      19014
2  2006-01-01  398   788   30   674   4333  5659  2049  231  124      14286
3  2007-01-01  184   610   39   631   2678  5526  1611  309   63      11651
4  2008-01-01  254   604  100  1271   3258  5607  1136  574  107      12911
5  2009-01-01  167   405   70   828   1049  4281   482  121   61       7464
6  2010-01-01  259   595   53   712    871  3770   435  256   49       7000
7  2011-01-01  280   502   66   396   1120  3008   865  141   40       6418
8  2012-01-01  305   523   27   269    757  1741   773  124   52       4571
9  2013-01-01  221   583   23   403   1139  2346   932  170   74       5891
10 2014-01-01  309   500   31   257   1075  1887   684  219   50       5012
11 2015-01-01  264   712   25   209   1601  2153  1030  156   57       6207
12 2016-01-01  372  1129   17   258   1489  2992  1376  202   58       7893
13 2017-01-01  257  1001   24   265   1561  2433  1243  132   31       6947
14 2018-01-01  444  1045   24   253   1490  2744  1316  195   25       7536
15 2019-01-01  688  1421    8   215   1685  3862  1245  617   21       9762

In [36]:
type(arquivo["ANO_ESTADO"][1])

pandas._libs.tslibs.timestamps.Timestamp